/* Windows css */
.st-window-container {
	background-color: rgba(0, 0, 0, 0.6);
	width: 70%;
	height: calc(100%);
	justify-content: center;
	align-items: center;
	z-index: 3;
	display: flex !important;
	flex-direction: column;
	justify-content: flex-start;
	top: 0px;
	left: 0px;
	position: fixed;
}

.st-window-overlap {
	right: 0px;
	top: 0px;
	left: auto;
	position: fixed;
	height: 100%;
	width: 30%;
}

#st-window-container-polls #pollpane {
	width: 100%;
	overflow-y: auto;
}

#st-window-container-polls #pollbox {
	width: 100%;
	height: 100%;
	background-color: #444;
	overflow-y: auto;
}

#st-window-container-polls.st-window-container-modular:not(.st-window-minimized) {
	min-width: 400px;
	min-height: 350px;
}

.st-window-users {
	width: 15%;
	height: calc(100% - 50px);
	right: inherit !important;
	left: auto;
	overflow: scroll;
	overflow-x: hidden;
	box-sizing: border-box;
	border-bottom: 1px solid #BBBBBB !important;
	top: 20px;
	overflow-y: auto;
}

.st-titlebar {
	display: flex;
	flex-flow: row-reverse;
	width: 100%;
	align-self: flex-start;
	background-color: dimgrey;
	border-bottom: 2px solid darkgoldenrod;
	cursor: pointer;
}

.st-titlebar-button {
	cursor: pointer;
	display: flex;
	margin-left: 5px;
	margin-top: 2px;
	margin-right: 5px;
	font-size: 26px;
	margin-bottom: 2px;
	align-self: center;
	color: lightgray;
}

.st-window-hidden {
	display: none !important;
}


/* Modular windows */

#st-window-container-playlist.st-window-container-modular {
	min-width: 350px;
	overflow: hidden;
}

.st-window-container-modular {
	position: absolute;

	width: -webkit-fit-content;
	width: -moz-fit-content;

	height: -moz-fit-content;
	height: fit-content;

	resize: both;
	overflow: auto;

	max-height: 100%;
	max-width: 100%;

	/* To prevent not having draggable space */
	min-width: 200px;
}

.st-window-container-modular .impele input {
	max-width: 250px;
}

.st-window-container-modular #pollControl {
	display: block;
	width: 100%;
}

.st-window-container-modular #leftpane {
	min-width: 350px;
	min-height: 400px;
	display: flex;
	flex-direction: column;
}

.st-window-container-modular #playlist {
	resize: none;
	height: 100%;
	/*PEP*/
	width: 100%;
}


#pollControl .mainbtns {
	width: 100%
}

/* Footer */

/* Playlist css */
/* Chat css */
#chatpane.st-patch-layout {
	right: 0px;
	position: fixed;
	top: 0px;
	bottom: 0px;
	height: 100%;
	width: 30%;
}

#chatpane.st-patch-layout .chatbuffer {
	height: calc(100% - 52px) !important;
	width: 100%;
}


#chatpane.st-patch-layout #connectedCountWrapper {
	display: none;
}

#chatpane.st-patch-layout #chatinput:not(.right) input {
	text-align: left;
	padding-left: 2px;
}

#chatpane.st-patch-layout #chatinput:not(.right) {
	width: 100%;
	left: 0px;
}

#chatpane.st-patch-layout #chatinput {
	width: calc(100% - 130px);
	right: 0px;
	left: auto;
}

#chatpane.st-patch-layout .setNick {
	bottom: 0px;
	top: auto !important;
}

#st-wrap-footer {
	overflow-y: auto;
	width: 100%;
}

.poll {
	margin: auto !important;
	position: relative;
}

.poll:not(.active) {
	opacity: 0.75;
}

#videowrap.st-patch-layout {
	width: 70%;
	position: fixed !important;
	top: 0px;
	left: 0px;
	height: 100%;
}

.st-patch-layout #chatControls {
	width: 100%;
}

#chatpane.st-patch-berrytweaks .st-window-users,
#chatpane.st-patch-berrytweaks #chatbuffer {
	top: 40px;
	max-height: calc(100% - 70px);
}

.st-patch-layout.st-patch-berrytweaks #rcvOverlay {
	top: 40px;
}

/*Incase berrytweaks fails to load*/

.dialogWindow:not(.berrymotes) .dialogContent {
	overflow-y: scroll;
	max-height: 384px;
}

.st-window-users #chatlist {
	top: auto !important;
	position: relative;
	height: 100%;
	width: 100%;
}

.ponypen_btns {
	top: 5px !important;
}

#mailboxDiv > div > .btn {
	height: 22px;
}

#st-window-container-messages #mailboxDiv {
	width: calc(100% - 2px);
	height: 100%;
	padding: 0px;
}

/*BerryTweaks patches*/

#st-videotitle-window {
	display: flex;
}

/*Settings css tweaks*/

.st-settings-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

.st-settings-group > label {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 3px;
}

#st-settings-warn {
	font-style: italic;
	font-size: 12px;
	color: red;
}

.st-setting-wrap:not(.st-setting-sub) {
	margin-bottom: 2px;
	margin-top: 2px;
}

.st-patch-layout #rcvOverlay {
	width: 100% !important;
}

.st-window-overlap.hover {
	opacity: 0.75;
}

.st-setting-sub {
	font-size: 10px;
	margin-left: 2em;
}

.st-setting-wrap {
	display: flex;
	padding-left: 5px;
	padding-right: 5px;
}

.st-setting-wrap > input {
	margin: 0 0 0 3px;
}

.st-setting-sub > input {
	transform: scale(0.80);
}

#st-window-container-header .wrapper {
	width: auto;
}

.st-window-container > div:not(.st-titlebar) {
	overflow-y: auto;
}

.st-window-container.st-window-minimized > *:not(.st-titlebar) {
	display: none !important;
}

.st-window-minimized {
	height: auto !important;
	resize: none;
}

#st-window-container-footer #footwrap {
	overflow-y: scroll;
	width: 100%;
}

#st-window-container-footer #dyn_footer {
	width: -moz-available;
	width: -webkit-fill-available;
}

#st-toolbar-element-menu {
	cursor: pointer;
	float: left;
	font-size: 12px;
	padding: 0 0 0 0;
	height: 20px;
}

#st-toolbar-element-menu:hover {
	text-decoration-line: underline
}

.st-toolbar-element {
	border: 0;
}

#st-toolbar-element-time {
	float: right;
	padding-right: 5px;
	padding-left: 5px;
}

.st-titlebar #wutColorRefresh {
	right: 100px !important;
	margin-top: 4px;
}

/* Minor tweaks or patches */

/* Move the About link out of the way of the titlebar */
#extras {
	top: 30px;
}

#chatControls.st-controls-hidden > .settings, #chatControls.st-controls-hidden > .berrymotes_button {
	display: none;
}

.st-window-container-usercount {
	width: 200px;
	height: 200px;
}

#st-toolbar-element-layout {
	float: left;
}

.st-window-playlist:not(.st-window-container-modular) #playlist {
	height: 100%;
	resize: none;
}

.st-window-playlist.st-patch-layout:not(.st-window-container-modular) #playlist {
	width: inherit;
	position: relative;
	overflow-y: hidden;
}

.st-window-playlist #leftpane {
	width: 100%;
	height: 100% !important;
	display: flex;
	flex-direction: column;
}

.st-window-playlist.st-patch-layout #leftpane .scrollbar {
	position: absolute;
	right: 0px;
}

.st-window-playlist.st-patch-layout #leftpane .viewport {
	height: calc(100% - 27px);
	width: calc(100% - 15px);
}

/*PEP*/
.st-window-playlist.st-patch-layout .viewport .overview {
	width: 100%;
}

.st-window-playlist.st-patch-layout .overview > #plul {
	width: inherit;
}

.st-window-playlist.st-patch-layout ul li .title {
	float: none !important;
}

.st-window-playlist #playlistAddControls .import .impele:first-of-type {
	float: none;
}

.st-window-playlist #playlistAddControls .import .impele:first-of-type > input {
	width: 100%;
}

.drinkWrap td {
	word-wrap: normal;
}

#drinkWrap.st-patch-layout {
	width: 70%;
	position: relative;
}

.st-toolbar-row {
	padding-left: 5px;
	width: calc(100% - 5px);
}

.st-toolbar-row:last-of-type {
	border-bottom: 1px solid #696868;
}

#st-toolbar-wrap {
	padding-left: 5px;
}

#st-toolbar-drinkwrap {
	height: 20px;
	display: flex;
}

#st-toolbar-drinkwrap > div {
	width: 20%;
}

.st-patch-layout #scPlayer {
	width: calc(100% - 42px);
}

.st-patch-layout #scBackground {
	position: absolute;
	bottom: 170px;
	width: 100%;
}

.st-patch-layout iframe:not(#scPlayer) {
	width: 100%;
	height: 100%;
}

/* Chrome specific workarounds, pls no shitterino*/

#st-window-container-playlist.st-window-container-modular.st-patch-chrome {
	padding-bottom: 10px;
	min-height: 410px;
}

.st-titlebar-minimize-rotated {
	transform: rotateZ(-90deg)
}

.st-titlebar-modularize {
	font-size: 23px;
}

#st-window-container-polls #pollControl {
	width: 100%;
}

.admin #chattabs.st-toolbar-row {
	display: flex;
	height: 25px;
	border: none;
	padding-left: 0;
	position: static !important;
}

/* Patches */
.wrapper.st-patch-layout {
	display: none;
}

#mailButtonDiv.st-patch-layout {
	display: none;
}

/* Fixes messages window from disappearing, */
#mailDiv.st-patch-layout {
	position: static;
}

/* New menu css */
.st-menu-new-item {
	width: auto;
	min-height: 50px;
}

.st-menu-new-items {
	display: flex;
	flex-flow: column nowrap;
	width: 10vw;
}

#st-menu-new-toggle {
	width: 40px;
	height: 40px;
	font-size: 2.5em;
	padding: 2px;
	background: rgba(211, 211, 211, 0.15);
	text-align: center;
	color: rgba(255, 255, 255, 0.15);
	line-height: 40px;
}

#st-menu-new-toggle[data-hidden=true] {
	text-align: center;
}

#st-menu-new-toggle:hover {
	cursor: pointer;
	background: rgba(211, 211, 211, 0.7);
	color: rgba(255, 255, 255, 0.6);
	transition: 0.1s;
}

#st-menu-new-info {
	height: 3vw;
	line-height: 3vw;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	border-bottom: 1px solid;
	margin: 0 5px 0 5px;
}

.st-menu-new-container {
	position: relative !important;
	flex-direction: row;
	width: auto;
	align-items: normal;
	height: auto;

	/* Message button has index of 995, overlap it (only for testing) */
	z-index: 996;
	background-color: #696868;
}

.st-menu-new-item-data {
	display: flex;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	flex-direction: row;
	min-height: inherit;
	font-size: 1.2em;
}

.st-menu-new-item:hover {
	background-color: #444242;
	cursor: pointer;
}

#st-menu-new-container {
	display: flex;
	flex-direction: row;
}

.st-menu-new-dropdown-text {
	width: 95%;
}

.st-menu-new-item[data-open=true] .st-menu-new-dropdown-arrow {
	transform: rotateZ(-90deg)
}


#st-menu-new-subs {
	border-left: 2px solid #444242;
}

body > #mailDiv {
	z-index: auto;
}

#st-menu-new-wrap {
	position: absolute;
	display: flex;
	flex-direction: row;
	height: min-content;
	top: 0px;
	left: 0px;
	z-index: 5555;
}

.st-menu-new-group[data-open=false] {
	display: none;
}

#st-menu-new-subs[data-open=false] {
	display: none;
}

.st-window-fullscreen {
	width: 100% !important;
}