#st-toast-menu {
	padding: 5px;
	display: flex;
	position: absolute;
	max-height: 330px;
	flex-flow: column;
}

#st-toast-titlebar {
	width: 100%;
	height: 30px;
	background-color: #474747;
	flex-shrink: 0;
}

#st-toast-exit {
	width: 15px;
	height: 15px;
	background-color: red;
	float: right;
	right: 2px;
	top: 3px;
	position: relative;
	cursor: pointer;
}

#st-toast-tabs {
	display: flex;
	flex-wrap: wrap;
}

#st-toast-container {
	display: flex;
	height: calc(100% - 30px);
	overflow-y: auto;
}

#st-toast-buttons {
	flex-flow: column;
	display: flex;
}

#st-toast-controls {
	display: flex;
	flex-direction: column;
}

.st-toast-label {
	border-bottom: 1px solid aliceblue;
	width: 100%;
}

#st-toast-control {
	font-size: 18px;
	line-height: 18px;
	vertical-align: middle;
	cursor: pointer;
}

.st-toast-button {
	border: 0;
	background: #474747;
	color: lightgray;
	height: 30px;
	flex-shrink: 0;
	font-size: 1.3em;
	border-bottom: 1px solid grey;
}

#st-toast-wrap-buttons {
	width: 70%;
	display: flex;
	flex-direction: column;
}

#st-toast-wrap-controls {
	width: 30%;
	display: flex;
	flex-direction: column;
}

.st-toast-divider {
	height: 5px;
	background-color: grey;
	width: 100%;
}

#st-toast-themes {
	display: flex;
	flex-direction: column;
	width: 70%;
	overflow-y: auto;
	border-left: 5px solid grey;
}

#st-toast-container {
	display: flex;
	height: calc(100% - 35px);
	/* max-height: calc(100% - 30px); */
}