<!--
What it should include
	- Scripts
	- Images


-->

<head>
	<link rel="stylesheet" type="text/css" href="https://smidqe.gitlab.io/smidqetweaks/css/website.css"/>
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
	<title>Smidqetweaks</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="pure-g content">
		<h1 id="title" class="pure-u-1">Smidqetweaks</h1>
	</div>
	<div id="layout" class="content">
		<div>
			<h2>Install</h2>
			<ul>
				<li>Install userscript addon of your choice</li>
				<li>Install smidqetweaks @ <a href="https://smidqe.gitlab.io/smidqetweaks/smidqetweaks.user.js">here</a></li>
			</ul>
		</div>
		<div id="compatibility">
			<p>Some tweaks may require 3rd party scripts, tweaks will not check if you have them</p>
		</div>
		<div id="features" class="pure-g">
			<h3 class="pure-u-1">Features</h3>
			<ul class="pure-u-1">
				<li>Custom layout</li>
				<li>Modular windows</li>
				<li>Track playlist changes</li>
				<li>Squee on rcv messages</li>
				<li>Announce berry changes</li>
				<li>Notify about poll closing</li>
				<li>Calculate poll averages</li>
				<li>Clock on the toolbar</li>
				<li>Alternative drink element</li>
				<li>Minor patches all around</li>
			</ul>
		</div>

		<div id="others" class="pure-g">
			<p class="pure-u-1">Also checkout <a href="https://atte.fi/berrytweaks/">Berrytweaks</a></p>
		</div>

		<div id="source" class="pure-g">
			<p class="pure-u-1">Source under MIT license @ <a href="https://gitlab.com/Smidqe/smidqetweaks">GitLab</a></p>
		</div>
	</div>
</body>